@import url("https://use.typekit.net/eed3tbt.css");
body {
background-color: #bdc3c7;
}

.emoji-container {
  height: 50px;
}

span {
    user-select: none;
    font-weight:700;
    font-size:130px;
    margin: auto;
} 

description {
  font-size: 20px;
}

p {
  margin: auto;
  text-align: center;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  font-size: 3rem;
  opacity:40%;
  padding-top:20px;
  
  font-family: rooney-web, serif;
font-weight: 700;
font-style: normal;
}