@import url("https://use.typekit.net/eed3tbt.css");
body {
background-color: #bdc3c7;
height: 100vh;
width: 100vw;
touch-action: none;
margin: 0;
}

/* For mobile: screen size smaller than 768px ipad size */
@media screen and (max-width: 768px) {
  #container {
  position: relative;
  height: 92vh;
  width: 100%;
  background-color: cadetblue;
  margin-top: 0;
  top:0;
  }
  .emoji-container {
    position: absolute;
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
}
span {
    text-align: center;
    position: relative;
    user-select: none;
    font-size:30vw;
    margin: auto;
} 
description {
  text-align: center;
  position: relative;
  font-size: 1.5rem;
}

p {
  margin: auto;
  text-align: center;
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  font-size: 2rem;
  opacity:40%;
  padding-top:20px;
  z-index: 5;
  
  font-family: rooney-web, serif;
  font-weight: 500;
  font-style: normal;
}

button {
  bottom: 0;
  margin: 0;
  height: 8vh;
  width: 100%;
}
#clearEmoji {
  z-index: 5;
  font-family: rooney-web, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}
}

/* For Desktop: screen size greater than 768px bigger than ipad size */
@media screen and (min-width: 768px){
#container {
  position: relative;
  width: 100%;
  height: 92vh;
  background-color: #5f9ea0;
}
.container .btn{
  position:absolute;
  vertical-align: middle;
  bottom: 5%;
  margin: auto;
  left: 40%;
}
.btn {
  position: absolute;
  left: 50%;
  margin: 0;
  width: 500px;
}

button {
  margin: 0;
  height: 8vh;
  bottom: 0;
  width: 30%;
}

#clearEmoji {
  z-index: 5;
  font-family: rooney-web, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}


.emoji-container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}

span {
    text-align: center;
    position: relative;
    user-select: none;
    font-size:15vw;
    margin: auto;
} 

description {
  text-align: center;
  position: relative;
  font-size: 3vw;
}

p {
  margin: auto;
  text-align: center;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  font-size: 3rem;
  opacity:40%;
  padding-top:20px;
  z-index: 5;
  
  font-family: rooney-web, serif;
  font-weight: 700;
  font-style: normal;
}
}
