body {
    font-family: 'Source Code Pro', sans-serif;
}
.wrap {
    padding: 10% 20%;
}
.thin {
    color: black;
    flex: 1;
    font-size: 2em;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition:  0.5s;
}
.thin:hover {
    background-size: 100% 100%;
}
.thin {
    background-image: linear-gradient(to right, black 0, black 100%);
}

.underlined--thick {
    background-position: 0 -0.1em;

a {
    text-decoration: none;
}