@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;700&display=swap');

body {
    background-image: radial-gradient(circle, #eed5bb, #f4d6b2, #f8d7a9, #fcd8a0, #feda96, #fed38f, #ffcd88, #ffc682, #ffb580, #fca681, #f79784, #ee8989);
    font-family: 'Public Sans', sans-serif,"Times New Roman", serif ;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

main {
    height: 100%;
    width: 100vw;
    font-family: 'Public Sans', sans-serif, Arial, Helvetica, sans-serif ;
    font-size: 1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

.text-jp {
    display: none;
}

.text h1, h2, h3, h4 {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Public Sans', sans-serif, Arial, Helvetica, sans-serif ;
}

main .text h3 {
    font-size: 1.2em;
    margin: 200px 0 300px 0;
}

main .text p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    text-align:inherit;
    color: black;
}

main {
    width: 90%;
    margin: 5em auto;
}

main .text h1 {
    text-align: left;
    font-size: 30px;
    line-height: 1.25;
    text-transform: uppercase;
    margin:200px 0 100px 0;
}

a {
    text-decoration: none;
    color: lightslategray;
}

main .extra1 {
    text-align: center;
    font-size: 1.5em;
    margin: 70px 0;
    font-weight: bolder;
}

@media (min-width: 700px) {
    main {
        width: 70%;
    }

    main .text p {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 1.3em;
    line-height: 1.5em;
    }

    main .extra1 {
        text-align:right;
        font-size: 1.8em;
        
        font-weight: bolder;
    }
    main .extra1 p {
        width: 40%;
    }
    main .text h3 {
        font-size: 1.5em;
        margin: 200px 0 300px 0;
    }
}

main .text h4 {
  margin: 0;
  font-size: 18px;
  color: lightgrey;
  text-shadow: 
   /* create highlights on the left */
    0px 0.5px 0px rgba(255,255,255, 0.2), 
    -1px 1px 0px rgba(255,255,255, 0.2), 
    -2px 1px 0px rgba(255,255,255, 0.2), 
    /* create the long shadow on the right */
    30px 1px 0px rgba(0,0,0, 0.2),
    /* create the shadow of the font on the right*/
    2px 1px 0px rgba(0,0,0, 1);
    text-decoration: underline 1px;
}


@media (min-width: 900px) {
    main {
        width: 70%;
    }
    .text p {
        margin-top: 0;
        margin-bottom: 2em;
        font-size: 1.3em;
        line-height: 1.4em;
        text-align:inherit;
    }
    main .text h1 {
        font-size: 3em;
        margin: 200px 0 400px 0;
    }
    main .extra1 {
        text-align:right;
        font-size: 1.8em;
        font-weight: bolder;
        width: 90%;
        margin: 160px;

    }
    main .extra1 p {
        width: 40%;
    }
    main .text h3 {
        font-size: 1.9em;
        margin: 200px 0 300px 0;
    }
}


@media only screen and (min-width:1240px) {
.text {
        display: none;
    }

body {
    /* background-color: black; */
    color: white;
    height: 100%;
    font-family: 'Noto Serif JP', serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    }

main {
    background-image: linear-gradient(to right top, #7a7f7f, #676c6c, #56595a, #454648, #343536, #353536, #353637, #363637, #494949, #5c5c5d, #707070, #858585);

    width: 100vw;
    height: 100%;
    margin: auto;
    color: white;
    text-align: center;
    }

.text-jp {
    display: inline-block;

    margin-top: 30px;
    margin-bottom: 2em;
    width: 60%;
    height: 90%;
    text-align: left;
    vertical-align:middle;
    color: white;
}

.text-jp h1 { 
    font-size: 4rem;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: left;
    margin: 200px 0 200px 0;
}

.text-jp h1, h2, h3, h4 {
    font-family: 'Noto Serif JP', serif;
}

.text-jp p {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 20px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}
    
  }

/* /hover text/ */
/* .wrap {
    padding: 10% 20%;
}

p {
    font-size: 28px;
    color: white;
}
h2 {
    margin-top: 3em;
    color: grey;
}
h2:first-child {
    margin-top: 0;
}
.keysentence {
    color:black;
    flex: 1;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.5s;
}
.underlined:hover {
    background-size: 100% 100%;
}
.underlined--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
}
.underlined--thick {
    background-position: 0 -0.1em;
}
.underlined--offset {
    background-position: 0 0.2em;
    box-shadow: inset 0 -0.5em 0 0 white;
}
.underlined--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}
.underlined--reverse {
    background-position: 100% -0.1em;
    transition: background 1s;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
} */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    font-size: 20px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }