@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
    background: #c5c0b7;
    color: #222;
    height: 100%;
    font-family: 'Public Sans', sans-serif,"Times New Roman", serif ;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

.text-jp {
    display: none;
}

.text h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

.text h1 {
    font-size: 27px;
    line-height: 1.25;
    text-transform: uppercase;
}
.text p {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 16px;
}

main {
    width: 85%;
    margin: 5em auto;
    font-size: 20px;
}

@media (min-width: 600px) {
    main {
        width: 75%;
   }
   .text p {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 20px;
}
}
@media (min-width: 900px) {
    main {
        width: 65%;
   }
}
main h1 {
    text-align: center;
}


/* /hover text/ */
.wrap {
    padding: 10% 20%;
}

p {
    font-size: 28px;
    color: white;
}
h2 {
    margin-top: 3em;
    color: grey;
}
h2:first-child {
    margin-top: 0;
}
.underlined {
    color: #939393;
    flex: 1;
    font-size: 33px;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.5s;
}
.underlined:hover {
    background-size: 100% 100%;
}
.underlined--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
}
.underlined--thick {
    background-position: 0 -0.1em;
}
.underlined--offset {
    background-position: 0 0.2em;
    box-shadow: inset 0 -0.5em 0 0 white;
}
.underlined--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}
.underlined--reverse {
    background-position: 100% -0.1em;
    transition: background 1s;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
}


@media (min-width: 1024px) {
    .text {
        display: none;
    }

    .text-jp {
        display: inline-block;
    }
}