@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&display=swap');

body {
    background-image: linear-gradient(to left bottom, #252524, #42423f, #60605c, #81817a, #a3a39a, #adada3, #b7b7ad, #c1c1b6, #b5b5aa, #a8a89f, #9c9c93, #909088);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;

    height: 100%;
    font-family: 'Public Sans', sans-serif,"Times New Roman", serif ;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    color: black;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main .text {
    display: inline-block;
}

.text-jp {
    display: none;
}

.text h1, h2, h3, h4 {
    font-family: 'Public Sans', sans-serif,"Times New Roman", serif ;
}

.text h1 {
    font-size: 2.1rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    margin:290px 0 350px 0;
    text-align: left;
}

main {
    width: 85%;
    margin:  auto;
}

main .text p {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 1em;
    line-height: 1.4;
    color: black;
    }

    @media (min-width: 490px) {
        main {
            width: 70%;
       }
       .text h1 {
        font-size: 2.3rem;
        line-height: 2.8rem;
        text-transform: uppercase;
        margin:290px 0 350px 0;
        text-align: center;
    }
    }

@media (min-width: 700px) {
    main {
        width: 65%;
   }
   .text p {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 1.7em;
    line-height: 1.4;
    }
}
@media (min-width: 900px) {
    main {
        width: 65%;
   }
   .text h1 {
    font-size: 2.3rem;
    line-height: 1.25;
    text-transform: uppercase;
    }

    main {
    width: 89%;
    margin: 5em auto;
    font-size: 20px;
    }
}

@media (min-width: 900px) {
    main {
        width: 65%;
   }
   .text h1 {
    font-size: 3.5rem;
    line-height: 1.26;
    text-transform: uppercase;
    }

    main .text p {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 1.3em;
        line-height: 1.36;
    }
}

main h1 {
    text-align: center;
}


@media (min-width: 1240px) {
    main .text {
        display: none;
    }

    main .text-jp {
        display: inline-block;
    }

body {
    background-image: radial-gradient(circle, #141515, #1b1f1e, #222826, #2c322d, #373c33, #494d42, #5c5e50, #707060, #908f7d, #b0af9a, #d3d0b9, #f6f2d9);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    color: white;
}

main {
    width: 100vw;
    height: 100%;
    margin: auto;
    color: white;
    text-align: center;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    main .text-jp p {
        font-size: 1.3em ;
        line-height: 1.5em;
        word-spacing: 0.5rem;
        color: white;
        font-weight:490 ;
        font-family: 'Noto Serif JP', serif;
        text-align: left;
    }


    main {
        width: 65%;
   }

   main .text-jp h1 {
    font-size: 3em;
    line-height: 1.25;
    padding-bottom: 20px;
    margin:290px 0 370px 0;
    font-family: 'Noto Serif JP', serif;
    text-align: left;
    }
}


main .connection .one .two {
    word-spacing: 60px;
    margin: auto 0;
    text-decoration: none;
    color: inherit;

}
a.one:link {color:black;} 
a.one:hover {background:white;}

a.two:link {color:black;}
a.two:hover {background:white;}
