@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&display=swap');

.diagonal-bg {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

body {
    background: #c5c0b7; 
    color: #222;
    height: 100%;
    font-family: 'Public Sans', sans-serif,"Times New Roman", serif ;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.text-jp {
    display: none;
}

.text h1, h2, h3, h4 {
    font-family: 'Public Sans', sans-serif,"Times New Roman", serif ;
}

.text h1 {
    font-size: 2.3rem;
    line-height: 1.25;
    text-transform: uppercase;
    margin:310px 0 410px 0;
}

main {
    width: 86%;
    margin: auto;
}
.text p {
margin-top: 0;
margin-bottom: 2em;
font-size: 1em;
line-height: 1.4;
}

@media only screen and  (min-width: 700px) {
    main {
        width: 65%;
   }
   .text p {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 1.7em;
    line-height: 1.4;
    }

    .text p {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .text h1 {
    font-size: 2.3rem;
    line-height: 1.25;
    text-transform: uppercase;
    }

    main {
    width: 89%;
    margin: 5em auto;
    font-size: 20px;
    } 
}
@media only screen and  (min-width: 900px) {
    main {
        width: 65%;
   }
   .text h1 {
    font-size: 3.5rem;
    line-height: 1.26;
    text-transform: uppercase;
    }

    main .text p {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 1.3em;
        line-height: 1.36;
    }
}
main h1 {
    text-align: center;
}


/* /hover text/ */
/* .wrap {
    padding: 10% 20%;
}

p {
    font-size: 28px;
    color: white;
}
h2 {
    margin-top: 3em;
    color: grey;
}
h2:first-child {
    margin-top: 0;
}
.underlined {
    color: #939393;
    flex: 1;
    font-size: 33px;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.5s;
} */
/* .underlined:hover {
    background-size: 100% 100%;
}
.underlined--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
}
.underlined--thick {
    background-position: 0 -0.1em;
}
.underlined--offset {
    background-position: 0 0.2em;
    box-shadow: inset 0 -0.5em 0 0 white;
}
.underlined--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}
.underlined--reverse {
    background-position: 100% -0.1em;
    transition: background 1s;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
} */

@media only screen and  (min-width: 1240px) {
    .text {
        display: none;
    }

    .text-jp {
        display: inline-block;
    }

    .text-jp p {
        font-size: 1.3em ;
        line-height: 1.45em;
        word-spacing: 0.5rem;
        color: hsl(0, 0%, 19%);
        font-weight:490 ;
        font-family: 'Noto Serif JP', serif;
    }
    body {
        background: black;
        color: #3b3b3b;
    }

    main {
        width: 65%;
   }

    .text-jp h1 {
    font-size: 3em;
    line-height: 1.25;
    padding-bottom: 20px;
    margin:200px 0 370px 0;
    font-family: 'Noto Serif JP', serif;
    }
}

/* .parent {
    top: 90%;
    text-align: left;
    justify-items: center;
    align-items: center;
}

.intro-text {

    width: 50%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.intro-appear {
    opacity: 1;
    transform: translateY(0px);
} */


main .connection .one {
    position: absolute;
    left: 0;
    margin: 20px;
}

main .connection .two {
    position: absolute;
    right: 0px;
    margin: 20px;
    }

    @media only screen and (min-width:1240px) { 
        main .connection .one .two {
            word-spacing: 20px;
            margin: 70px 200px;
            text-decoration: none;
            color: inherit;
        }
        
        a.one:link {color:white} 
        a.one:visited {color: grey;}
        a.one:hover {background:black}
        
        a.two:link {color:white}
        a.two:visited {color: grey;}
        a.two:hover {background:black}
        
        main .connection a {
            text-decoration: none;
            color: inherit;
        }
        
        
        }
        @media only screen and (max-width:1240px) { 
            main .connection  {
                word-spacing: 10px;
                margin-top: 110px;
                margin-bottom: 200px; 
                text-decoration: none;
                color: inherit;
            }
        
            a.one:link {color:black} 
            a.one:visited {color:white}
            a.one:hover {background:black}
            
            a.two:link {color:black}
            a.two:visited {color:white}
            a.two:hover {background:black}
            
            main .connection a {
                text-decoration: none;
                color: inherit;
            }
            
            }
    