/* @font-face {
    font-family: "A-OTF";
    src: url("/fonts/A-OTF-KochoStd-Heavy-2.woff") format("woff");
  } */

  @import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
    background-color: white;
    height: 100vh;
    background-color: black;
}

section {
    /* border: 10px solid white; */
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    position: relative;
}

/* .container {
    border: 10px solid black;
    background-color: white;
    max-width: 800px;
    width: 100%;
    color: black;

    height: 50vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto;
    display: grid;
} */

.effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    cursor: pointer;
}
.effect_heading {
    font-size: 20px;
    line-height: 1;
    position: relative;
    z-index: 2;
}

.effect_heading::after {
    content: '';
    position: relative;
}

.effect_subheading {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.04em;
}

.effect-a {
    opacity: 0.5;
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.effect-a .effect_subheading {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

.effect-a:hover {
    opacity: 1;
}
.effect-a:hover .effect__heading:after {
    opacity: 0.1;
    transform: scaleX(1);
}
.effect-a:hover .effect__subheading {
    transform: translateX(0%);
    opacity: 1;
}





.grid {
    margin: auto;
    font-size: 40px ;
    background-color:white ;
    color:black;
    height: 400px;
    width: 400px;

    display: grid;
  grid-template-columns: auto auto;  /* grid has two columns; content defines width */
  justify-content: space-between;    /* horizontal alignment of grid tracks */
  align-content: space-between; 

    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start; */

    /* grid-template: 1fr 1fr/ 1fr 1fr; */
    /* grid-template-columns: auto auto auto auto; */

    /* width: 470px; */
    /* grid-template-columns: repeat(8, 1fr); */
    /* gap: 100px; */
    /* grid-auto-rows: 70px; */
    /* grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
    align-items: start; */
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
}

.item3 {
    grid-area: c;
}

.item4 {
    grid-area: d;
}


.kanji {
    font-size: 40px;
}

.kanji h3 {
    font-size: 20px;
    font-family: 'Public Sans', sans-serif;
}