body {
    height: 400px;
    top: 50%;
    background-color: black;
}

.parent {
  justify-items: center;


}
.container {
    display: grid;
    grid-template-columns: auto auto;  /* grid has two columns; content defines width */
    justify-content: space-between;    /* horizontal alignment of grid tracks */
    align-content: space-between;      /* vertical alignment of grid tracks */
    height: 450px;
  
    background-color: white;
    border: 1px solid black;
    font-size: 50px;
    width: 450px;


    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .container > div {
    padding: 30px;
  }




  