@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
    position: relative;
}

.container {
    font-family: 'Public Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    /* grid-template: 1fr 1fr / 1fr 1fr; */
    grid-gap: 10px;
    background: black;
    font-size: 30px;

    position: absolute;
    align-items: center;
}

.effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

.effect__heading {
    font-size: 1.5em;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    text-decoration:none; 
    color: #939393;
}

.effect__heading:after {
    content: '';
    position: absolute;
}

.effect__subheading {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.2em;
    line-height: 0.7;
    letter-spacing: 0.04em;
    color: #939393;
}

.effect-a {
    opacity: 0.5;
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.effect-a .effect__heading:after {
    opacity: 0;
    bottom: -7px;
    left: 0;
    height: 15px;
    width: 100%;
    background: white;
    z-index: 0;
    transform-origin: 0% 50%;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
    line-height: 1.2;
}

.effect-a .effect__subheading {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
    border-bottom-width: 1px;
}

.effect-a:hover {
    opacity: 1;
}

.effect-a:hover .effect__heading:after {
    opacity: 0.4;
    transform: scaleX(1);
}

.effect-a:hover .effect__subheading {
    transform: translateX(0%);
    opacity: 1;
}


.effect .effect-a a {
    text-decoration: none;
    color:white;
    font-family: 'Public Sans', sans-serif;
}

a {
    text-decoration: none;
}