@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
    /* height: 100vh; */
    background-color: white;
    font-family: 'Public Sans', sans-serif;
}

section {
    height: 100vh;
    background-color:white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

p a{
    color: black;
}

.container {
    /* color: black; */
    /* background-color: blanchedalmond; */
    margin: auto;
    max-width: 900px;
    width: 90%;

    max-height: 70vh;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.sliding-u-l-r-l-jp {
    display: none;
}

.sliding-u-l-r-l-en {
    display: inline-block;
    position: relative;
    padding-bottom: 14px;
    font-size: 60px;
}
.sliding-u-l-r-l-en:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    transition: width 0s ease; 
    background: .5s ease;
}
.sliding-u-l-r-l-en:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    background: #ffffff;
    transition: width .5s ease;
}
.sliding-u-l-r-l-en:hover:before {
    width: 100%;
    background: #FFD700;
    transition: width .5s ease;
}
.sliding-u-l-r-l-en:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}



@media only screen and (min-width:767px) {

    .sliding-u-l-r-l-en {
        display: none;
    }

    section {
        width: 100%;
        background: black;
        color: #939393;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

    }

    p a {
        text-decoration: none;
        color: white;
        font-family: 'Public Sans', sans-serif;
    }
}

p {
    display: inline-block;
    font-size: 30px;
    font-family: 'Public Sans', sans-serif;
}

/* p a {
    text-decoration: none;
    color: white;
    font-family: 'Public Sans', sans-serif;
} */

.sliding-u-l-r-l-jp {
    display: inline-block;
    position: relative;
    padding-bottom: 14px;
    font-size: 60px;
}
.sliding-u-l-r-l-jp:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    transition: width 0s ease; 
    background: .5s ease;
}
.sliding-u-l-r-l-jp:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    background: #ffffff;
    transition: width .5s ease;
}
.sliding-u-l-r-l-jp:hover:before {
    width: 100%;
    background: #FFD700;
    transition: width .5s ease;
}
.sliding-u-l-r-l-jp:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}





