@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
    height: 100vh;
    background-color: black;
    font-family: 'Public Sans', sans-serif;
}

section {
    height: 80vh;
    border: 10px blue;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    color: white;
    margin: auto;
    max-width: 900px;
    width: 100%;

    height: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

@media only screen and (min-width:767px) {

    .container {
        background: black;
        color: #939393;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

}

/* span{ 
    font-size: 60px; 
    display: inline-block; 
    top: 50%;
}
 
span b { 
     font-size: 60%; 
    }

.underline-on-hover:hover {
    text-decoration: underline solid white 30px;
} */


p {
    display: inline-block;
    font-size: 30px;
    font-family: 'Public Sans', sans-serif;
}

p a {
    text-decoration: none;
    color: white;
    font-family: 'Public Sans', sans-serif;
}

.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 14px;
    font-size: 60px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    transition: width 0s ease; 
    background: .5s ease;
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    background: #ffffff;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: #FFD700;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}





