body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    width: 100%;
    height: 130px;
    background: #FFE3E3;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.info {
    background: grey;
    width: 100px;
    height: 40px;
}

#tickets-info {
    background-position: right;
    height: 40px;
    width: 100px;
    background: gray;
}

.container {
    background: white;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr 1.5fr 0.7fr;
    grid-template-areas: 
    "upper-section upper-section upper-section"
    "middle-section middle-section middle-section"
    "lower-section lower-section lower-section"
    "content1 content2 content3"
    "content4 content5 content6"
    "footer footer footer";
    text-align: center;
}

#upper-section {
    background: #97F3FF;
    grid-area: upper-section;
    height: 200px;
    width: 100%;
}

#middle-section {
    background: #D7D3C1;
    grid-area: middle-section;
    height: 300px;
    width: 100%;
}

#lower-section { 
    background: #FFAA97;
    grid-area: lower-section;
    height: 400px;
    width: 100%;
}

#content1 {
    background: #FDF6D0;
    height: 200px;
    margin: 20px;
    grid-area: content1;
}

#content2 {
    background: #FDF6D0;
    grid-area: content2;
    height: 200px;
    margin: 20px;
}

#content3 {
    background: #FDF6D0;
    grid-area: content3;
    height: 200px;
    margin: 20px;
}

#content4 {
    background: #FDF6D0;
    grid-area: content4;
    height: 200px;
    margin: 20px;
}

#content5 {
    background: #FDF6D0;
    grid-area: content5;
    height: 200px;
    margin: 20px;
}

#content6 {
    background: #FDF6D0;
    grid-area: content6;
    height: 200px;
    margin: 20px;
}

#footer {
    background: black;
    height: 500px;
    width: 100%;
    grid-area: footer;
}


@media only screen and (max-width:700px) {
    nav {
        flex-basis: 50%;
    }
    .main-navigation {
        flex-basis: 50%;
    }
    .search-bar {
        flex-basis: 70%;
    }
}


@media only screen  and (max-width:650px) {

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.8fr 1.0fr 1.2fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.6fr;
        grid-template-areas: 
        "nav"
        "upper-section"
        "middle-section"
        "lower-section"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "footer";
    }
}