@import url("https://use.typekit.net/byg2ter.css");
body {
    font-family: korolev, sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    top:0;
}
@media only screen and (min-width: 1024px) {
    body {
        height: auto;
        width: 100%;
    }
.menu {
    font-family: korolev, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 0.8rem;
    right: 1.3rem;
    top: 0.2rem;

    padding: 0 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    text-align:center;
    position: fixed;
    float: left;
}

.menu .web{
    color: white;
    font-style: normal;
    opacity: 0.8;
    letter-spacing: 1.3px;
}

.menu a {
    text-decoration: none;
    color: white;
    opacity: 0.6;
}

a:hover{
    font-style: normal;
    font-weight: 900;
    color: white;
    opacity: 1;
}

.filter {
    margin: 1.8rem;
    flex-basis: 20rem;
    flex-grow: 1;
    top: 0;

    text-align: left;
    position: fixed;
    flex-direction: column;
}

.filter .filter-item {
    font-size: 1.4rem;
    line-height:1.7;
    font-style: italic;
    font-weight:normal;
    letter-spacing: 0.08rem;
    opacity: 0.6;
    color: white;
}

.filter .filter-item:hover{
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 1000;
    font-style: bold;
    color: white;
    opacity: 1;
}

.filter .filter-item:focus {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 1000;
    font-style: bold;
    color: white;
    opacity: 0.8;
}

.filter-list {
  list-style-type: none;
  padding-left: 0;
}

/* make buttons look like text */
.filter-item {
    appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: white;
    z-index: 2;
}

.land-image {
    /* display: flex; */
    height: 85vh;
    width: auto; 
    margin:auto;
    margin-right: 1.6rem;
    top:0;
    /* padding-left:15rem; */
} 

.container {
    overflow-x: hidden;
    transform-origin: top left;
    left: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    transform-origin: center;
    white-space:nowrap;
}

.photos {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.photo-container {
    height: 100%;
}

.photo-images {
    display: flex;
    height: 90%;
    margin-left: 18rem;
}

.photo_name {
    font-style: normal;
    font-size: 1.2rem;
}

.photo_title {
    font-weight: normal;
    font-style: italic;
    font-size: 1.15rem;
}

.photo_location {
    font-weight: normal;
    font-style: normal;
    font-size: 1.15rem;
}

.photo_year {
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

h2 {
    margin: 0.18rem;
    line-height: 1.2;
}
}
/* phone size */
@media only screen and (max-width: 1024px) {
    body {
        height: auto;
    }
    .menu {
        font-weight: 100;
        font-size: 0.53rem;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-right: 19px;
        gap: 1.3rem;
        text-align: center;
        }
        .menu a {
            text-decoration: none;
            color: white;
            opacity: 0.6;
        }
        .menu .web{
            font-style: normal;
            opacity: 0.8;
        }
        /* buttons look like */
    .filter-item {
            appearance: none;
            background: transparent;
            border: 0;
            outline: 0;
            padding: 0;
            line-height: inherit;
            font-family: inherit;
            font-size: inherit;
            cursor: pointer;
            color: white;
            z-index: 2;
        }
        
        .filter, .filter-item {
            font-size: 1.4rem;
            font-style: italic;
            font-weight:normal;
            letter-spacing: 0.08rem;
            opacity: 0.8;
            color: white;
        }
        .filter {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            /* float: left; */
            white-space: nowrap;
        }
        .filter-list {
            list-style-type: none;
            padding-left: 0;
            display: flex;
        }  
        .filter-item {
            text-align: center;
            margin: 12px 1px;
            padding: 8px 6px;
            flex-shrink: 0;
        }
        .filter .filter-item:focus {
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 1000;
            font-style: bold;
            color: white;
            opacity: 0.9;
        }
        .photos {
            position: absolute;
            width: 100%;
            height: auto;
            text-align: center;
        }
        .photo-images {
            text-align: center;
            margin-bottom: 1rem;
        }
        
        .land-image {
            text-align: center;
            width: 89%;
            margin-right: 0.5rem;
            margin-top: 3vh;
        } 
        .photo_name {
            font-style: normal;
            font-size: 1.2rem;
        }
        .photo_title {
            font-weight: normal;
            font-style: italic;
            font-size: 1.2rem;
        }
        .photo_location {
            font-weight: normal;
            font-style: normal;
            font-size: 1rem;
        }
        .photo_year {
            font-weight: normal;
            font-style: normal;
            font-size: 1rem;
        }
        h2 {
            margin: 0.2rem 1rem;
        }
    }