@import url("https://use.typekit.net/byg2ter.css");
body {
    font-family: korolev, sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}
@media only screen and (min-width: 1024px) {
.container {
    overflow-x: hidden;
    transform-origin: top left;
    left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.menu {
    font-family: korolev, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 0.8rem;
    right: 1rem;

    padding: 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align:center;
    position: fixed;
    float: left;
}

.menu a{
    text-decoration:none;
    color: white;
    font-style: italic;
    opacity: 0.6;
}

.menu .web{
    font-style: normal;
    color: white;
    opacity: 0.6;
}

a:hover{
    font-style: normal;
    font-weight: 900;
    color: white;
    opacity: 1;
}

.photographer {
    position: absolute;
    top: 2rem;
    font-size: 2.3rem;
    margin: 2rem;
    text-align: right;
}

/* make buttons look like text */
.filter-item {
    appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: white;
    z-index: 2;
}

.filter {
    margin-top: 0;
    margin: 1rem;
    flex-basis: 17rem;
    flex-grow: 1;
    top: 0;

    text-align: left;
    position: fixed;
    flex-direction: column;
    padding-top: 0;
}

.filter .filter-item {
    font-size: 1.22rem;
    line-height:1.55;
    font-style: italic;
    font-weight:normal;
    letter-spacing: 0.08rem;
    opacity: 0.6;
    color: white;
}

/* text hover effect */
.filter .filter-item:hover{
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 1000;
    font-style: bold;
    color:white;
    opacity: 1;
}

.filter .filter-item:focus {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 1000;
    font-style: bold;
    color: white;
    opacity: 0.8;
}

.filter-list {
    list-style-type: none;
    padding-left: 0;
}  

/* image and text style */
.photos {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: auto;
}

.photo-images {
    display: flex;
    margin-left: 20rem;
}

.land-image {
    height: 86vh;
    justify-content: space-between;
    margin-right: 1.6rem;
} 

.photo_title {
    font-weight: normal;
    font-style: italic;
    font-size: 1.2rem;
}

.photo_location {
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
}

.photo_year {
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

h2 {
    margin: 0.18rem;
}
} 


/* phone size */
@media only screen and (max-width: 680px) {
body {
    height: auto;
}
.menu {
    font-weight: 100;
    font-size: 0.53rem;
    right: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5px;
    gap: 1.7rem;
    float: center;
    text-align: center;
    }
    .menu a {
        text-decoration: none;
        color: white;
        opacity: 0.6;
    }
    .menu .web{
        font-style: normal;
        opacity: 0.6;
    }
    /* buttons look like */
.filter-item {
        appearance: none;
        background: transparent;
        border: 0;
        outline: 0;
        padding: 0;
        line-height: inherit;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        color: white;
        z-index: 2;
    }
    
    .filter, .filter-item {
        font-size: 1.4rem;
        font-style: italic;
        font-weight:normal;
        letter-spacing: 0.08rem;
        opacity: 0.8;
        color: white;
    }
    .filter {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        /* float: left; */
        white-space: nowrap;
        margin-bottom: 2px;
    }
    .filter-list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
    }  
    .filter-item {
        text-align: center;
        margin: 6px 2px 3px 1px;
        padding: 8px 9px;
        flex-shrink: 0;
    }
    .filter, .filter-item:focus {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 1000;
        font-style: bold;
        color: white;
        opacity: 0.9;
        -webkit-tap-highlight-color:transparent;
    }
    /* @media(hover: hover) and (pointer: fine) {
        .filter, .filter-item a:hover {
            font-size: 1.4rem;
        font-style: normal;
        font-weight: 1000;
        font-style: bold;
        color: white;
        opacity: 0.9;
        } */
    .photos {
        position: absolute;
        width: 100%;
        height: auto;
        text-align: center;
        overflow-y: hidden;
    }
    .photo-images {
        overflow-x: hidden;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .land-image {
        text-align: center;
        width: 40vh;
        margin-top: 3vh;
    } 
    .photo_title {
        font-weight: normal;
        font-style: italic;
        font-size: 1.2rem;
    }
    .photo_location {
        font-weight: normal;
        font-style: normal;
        font-size: 1.2rem;
    }
    .photo_year {
        font-weight: normal;
        font-style: normal;
        font-size: 1rem;
    }
    h2 {
        margin: 0.2rem 0.8rem;
    }
   
}