@import url("https://use.typekit.net/eed3tbt.css");
body {
background-color: cadetblue;
height: 100vh;
width: 100vw;
touch-action: none;
margin: 0;
}
/* mobile */
/* @media screen and (max-width: 768px) {
.btn{
  position:absolute;
  vertical-align: middle;
  bottom: 5%;
  margin: auto;
  left: 35%;
  border: none;
}
.btn {
  position: absolute;
  left: 40%;
  margin: 0;
  bottom: 3%;
}

span {
  text-align: center;
  position: relative;
  user-select: none;
  font-size:30vw;
  margin: auto;
  z-index: -1;
} 

description {
text-align: center;
margin: auto;
left: 40%;
position: relative;
font-size: 1.5rem;
font-family: 'hellofont-id-juejianghei', sans-serif;
font-weight: 400;
font-style: normal;
z-index: -1;
}

p {
margin: auto;
text-align: center;
width:35vw;
display: flex;
justify-content: center;
align-items: center;
vertical-align: middle;
color: black;
font-size: 2rem;
/* opacity:40%; */
/* padding-top:0;
z-index: 5;

font-family: 'rooney-web', serif;
font-weight: 700;
font-style: normal;

background-color: rgb(238, 243, 244) ;
margin-top: 20px;
border-radius: 5px;
}

.emoji-container {
position: absolute;
width: 120px;
height: 150px;
background-color: transparent;
/* opacity: .5; */
/* z-index:1 ; */
/* }


.emoji-container:hover {
cursor: pointer;

}  */


/* desktop */ */ */
/* @media screen and (min-width: 768px){ */
.btn{
  position:absolute;
  vertical-align: middle;
  bottom: 5%;
  margin: auto;
  left: 35%;
  border: none;
}
.btn {
  position: absolute;
  left: 40%;
  margin: 0;
  bottom: 3%;
}

button {
  margin: 0;
  height: 8vh;
  bottom: 0;
  width: 220px;
  border-radius: 5px;
}

#clearEmoji {
  color: black;
  background-color: rgb(238, 243, 244);
  z-index: 3;
  font-family: rooney-web, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

/* .emoji-box {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
} */

span {
    text-align: center;
    position: relative;
    user-select: none;
    font-size:10vw;
    margin: auto;
    z-index: -1;
} 

description {
  text-align: center;
  margin: auto;
  left: 40%;
  position: relative;
  font-size: 1.5rem;
  font-family: 'hellofont-id-juejianghei', sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: -1;
}

p {
  margin: auto;
  text-align: center;
  width:35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: black;
  font-size: 2rem;
  /* opacity:40%; */
  padding-top:0;
  z-index: 5;
  
  font-family: 'rooney-web', serif;
  font-weight: 700;
  font-style: normal;

  background-color: rgb(238, 243, 244) ;
  margin-top: 20px;
  border-radius: 5px;
}

.emoji-container {
  position: absolute;
  width: 120px;
  height: 150px;
  background-color: transparent;
  /* opacity: .5; */
  z-index:1 ;
}


.emoji-container:hover {
  cursor: pointer;
}


/* } */



